---
import Nav from "@components/Header.astro";
import Title from "@components/Title.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<Nav/>
		<div class="container">
			<Title title={frontmatter.title} title2="" subtitle={"Post by: " + frontmatter.author}/>
			<slot/>
		</div>
	</body>
</html>
<style is:global>
	.container{
		padding-left: 300px;
		padding-right: 300px;
		margin-right: auto;
		margin-left: auto;
	}
</style>

